/* Put your CSS here */
html, body {
  margin: 20px 0px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow  hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p, .marketing h4 {
  margin-top: 28px;
}

.add-field {
  text-align: center;
}

.add-field select {
  margin-bottom: 0px;
}

.form-fields .accordion-group{
  border: 1px solid #AAAAAA;
}

.form-fields .accordion-heading{
  background-color: #E2E2E2;
}

.accordion-edit div, .field div{
  line-height: 35px;
}

.form-properties .row {
  line-height: 35px;
}

.form-field-label {
  display: inline;
}

.required-error {
  color:red;
  font-size: smaller;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.formEditor ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.formEditor ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.formEditor ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.formEditor ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.formEditor ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
