<h2>{{ form.form_name }}</h2>

<div ng-show="!form.submitted">
    <div class="field row">
        <div class="span2">Form ID:</div>
        <div class="span4">{{ form.form_id }}</div>
    </div>
    <form name="myForm" id="myForm">
        <div ng-repeat="field in form.form_fields">
            <field-directive field="field">

            </field-directive>
        </div>
        </form>
        <br>
            <div class="btn-group" uib-dropdown >
      <button id="single-button" ng-disabled="chosen_inventory.length == inventory.length" type="button" class="btn btn-primary" uib-dropdown-toggle>
        Possible Inventory<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
		  <div ng-repeat="item in inventory">
			  <li role="menuitem" ng-click="addItemToInventoryForm(item)" ng-show="chosen_inventory.indexOf(item) < 0"><a>{{item.name}}</a></li>
		  </div>

      </ul>
    </div>
        <div ng-repeat="item in chosen_inventory">
		{{item.name}} <label>Num1: <input type="number" ng-model="item.starting" value="0" required form="myForm"></label> <label>Numb2:
		<input type="number" ng-model="item.ending" value="0" required form="myForm"></label>
		<button type="button" class="close" aria-label="Remove" ng-click="removeItemFromIventoryForm($index)">remove</button>
	    </div>





    <div class="form-actions">
        <p class="text-center">
            {{!myForm.$valid}}
            <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submit()"><i class="icon-edit icon-white"></i> Submit Form</button>
            <button class="btn btn-danger right" type="button" ng-click="cancel()"><i class="icon-remove icon-white"></i> Cancel</button>
        </p>
    </div>
</div>

<div ng-show="form.submitted">
    <h3>Submitted Data</h3>
    <div ng-repeat="field in form.form_fields">
        Field Title: {{ field.field_title }} <br>
        Field Value: {{ field.field_value }} <br><br>
    </div>
</div>
