<div class="modal-header">
            <h3 class="modal-title" id="modal-title">Select a location</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul ng-if="vm.forms.length > 0">
                <li ng-repeat="form in vm.forms">
                    <a href="#" ng-click="vm.ok(form.key)">{{form.data.form_name}}</a>
                </li>
            </ul>
            <div ng-if="vm.forms.length == 0">Currently there are not any forms.</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>